body {
  background: radial-gradient(circle at center, #0a0f1f, #02040a);
  color: white;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* TITLE */
h1 {
  font-size: 30px;
}

/* MAIN */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* PLAYERS ROW */
.players-row {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

/* PLAYER CARD */
.player {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 
    0 10px 40px rgba(0,0,0,0.6),
    inset 0 0 20px rgba(255,255,255,0.05);
}

/* PLAYER COLORS */
.p1 {
  background: linear-gradient(45deg, red, darkred);
  padding: 10px;
  border-radius: 10px;
}

.p2 {
  background: linear-gradient(45deg, green, darkgreen);
  padding: 10px;
  border-radius: 10px;
}

/* DICE */
.dice img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

/* ANIMATION */
.roll {
  animation: spin 0.5s linear;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

/* SHAKE */
.shake {
  animation: shakeScreen 0.4s;
}

@keyframes shakeScreen {
  0% { transform: translate(0); }
  25% { transform: translate(-5px, 5px); }
  50% { transform: translate(5px, -5px); }
  75% { transform: translate(-5px, -5px); }
  100% { transform: translate(0); }
}

/* VS */
.vs {
  font-size: 40px;
  font-weight: bold;
}

/* BUTTON */
button {
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px red;
}

button:active {
  transform: scale(0.95);
}

/* RESULT */
.result {
  font-size: 22px;
  font-weight: bold;
}

/* WINNER */
.winner {
  box-shadow: 0 0 40px gold;
  transform: scale(1.05);
}

/* BET BOX */
.bet-box {
  margin-top: 10px;
}

#bet {
  padding: 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

/* TOTALS */
.totals {
  display: flex;
  gap: 40px;
  font-size: 20px;
  }
